@import "tailwindcss";

@theme {
    --bg-color: #183061;
    --bg-image: url('/bg.svg');
    --primary-color: #3182ce;
    --secondary-color: #2c5282;
    --font-color: #e2e8f0;
}

:root {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    color: var(--font-color);
}