body {
    background: #0086d4;
}

.name-title {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-shadow: 5px 5px #003858;
    font-size: 3em;
}

h1, h2, h3 {
    text-align: center;
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.card-body h5 {
    text-align: left;
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.page-info {
    text-align: center;
}

.card i {
    padding-right: 10px;
}

.social-links i {
    padding-right: 10px;
}